In [2]:
num = 12
name = "Sam"

In [4]:
print(f"My number is {num} and my name is {name}")

My number is 12 and my name is Sam

In [5]:
s = "hello"

In [11]:
s[-1]
s[0:]

'hello'

In [12]:
[1,2,3]

[1, 2, 3]

In [14]:
my_list = ["a", "b", "c"]

In [15]:
my_list.append("d")

In [16]:
my_list

['a', 'b', 'c', 'd']

In [17]:
my_list[0]

'a'

In [19]:
my_list[1:3]

['b', 'c']

In [21]:
my_list[0] = "q"

In [22]:
my_list

['q', 'b', 'c', 'd']

In [23]:
nest = [1, 2, [3, 4]]

In [24]:
nest[2][0]

3

In [25]:
nest = [1, 2, 3, [4, 5, ["target"]]]

In [27]:
nest[3][2][0]

'target'

In [28]:
d = {"k1": "value", "k2":"123"}

In [29]:
d["k1"]

'value'

In [30]:
d = {"k1": [1,2,3]}

In [32]:
d["k1"][2]

3

In [33]:
d = {"k1":{"inner":[1,2,3]}}

In [34]:
d["k1"]["inner"][1]

2

In [35]:
1 > 2

False

In [37]:
1 == 1

True

In [41]:
1 < 2 and 2 > 3

False

In [40]:
1 < 2 or 2 > 3

True

In [43]:
if 1 < 2:
    print("yea")

yea

In [44]:
seq = [1,2,3,4,5]

In [45]:
for x in seq:
    print(x)

1
2
3
4
5

In [48]:
i = 1
while i < 5:
    print(f"i is: {i}")
    i = i + 1

i is: 1
i is: 2
i is: 3
i is: 4

In [49]:
for x in range(5):
    print(x)

0
1
2
3
4

In [50]:
[0 for x in range(3)]

[0, 0, 0]

In [57]:
def my_func(name):
    print("Hello " + name)

In [59]:
my_func("Ninja")

Hello Ninja

In [63]:
def square(num):
    """This is returns a squared number"""
    return num ** 2

In [61]:
square(2)

4

In [ ]:
square# shift+tab show the docstring

In [64]:
seq = [1,2,3,4,5]

In [68]:
list(map(lambda x: x * 2, seq))

[2, 4, 6, 8, 10]

In [69]:
list(filter(lambda x : x % 2 == 0, seq))

[2, 4]

In [70]:
s = "hello my name is Sam"

In [72]:
s.lower()

'hello my name is sam'

In [73]:
s.upper()

'HELLO MY NAME IS SAM'

In [74]:
s.split()

['hello', 'my', 'name', 'is', 'Sam']

In [75]:
tweet = "Go Sports! #Sports"

In [77]:
tweet.split("#")[1]

'Sports'

In [78]:
d = {"k1": 1, "k2": 2}

In [79]:
d.keys()

dict_keys(['k1', 'k2'])

In [80]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [81]:
d.values()

dict_values([1, 2])

In [82]:
lst = [1,2,3]

In [83]:
lst.pop()

3

In [84]:
lst

[1, 2]

In [85]:
x = [(1,2), (3,4), (5,6)]

In [87]:
x[0][1]

2

In [88]:
for i in x:
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [91]:
for a,b in x:
    print(a)
    print(b)

1
2
3
4
5
6